@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Ranchers&display=swap');
H1 {color: red;}
H1 {font-family: impact;
border: solid; 3px pink }
Body {font-family: 'Hind Siliguri', sans-serif;}
img {border: solid; 3px brown}
